<h1>Order Up!</h1>

<h2>Eat these!</h2>

<ul>
  {{#each food}}
    {{#unless devoured}}
      {{> food/food-block devoured=true}}
    {{/unless}}
  {{/each}}
</ul>

<h2>Already Had</h2>

<ul>
  {{#each food}}
    {{#if devoured}}
      {{> food/food-block devoured=false}}
    {{/if}}
  {{/each}}
</ul>

<h2>Add a Food</h2>
<form class="create-form">

  <div class="form-group">
    <label for="food">Food Name:</label>
    <input type="text" id="fd" name="food_name">
  </div>

  <button type="submit">Add Food</button>
</form>
