<div class="overlay">
  <div class="jumbotron jumbotron-fluid text-center">
    <div class="leaf1"></div>
    <div class="leaf2"></div>

    <div class="container">
      <div class="col">
        <h1 class="display-4">Tea Time</h1>
        <p class="lead">The online tea bar with infinite refreshments</p>
      </div>
    </div>
  </div>
</div>

<div class="container">

  <div class="row">
    <div class="col-sm-12  text-center">
      <h2>Add to Menu</h2>

      <form class="create-form">

        <div class="form-group">
          <label for="food">Drink Name:</label>
          <input type="text" id="fd" name="food_name">
        </div>

        <button type="submit">Add Food</button>

        <hr class="style14">

      </form>
    </div>
  </div>

  <div class="row">
    <div class="col-md-6">
      <h2>Tea Menu</h2>
      <span>
        {{#each food}}
        {{#unless devoured}}
        {{> food/food-block devoured=false}}
        {{/unless}}
        {{/each}}
      </span>
    </div>

    <div class=" col-md-6">
      <h2>Already Sipped</h2>
      <span>
        {{#each food}}
        {{#if devoured}}
        {{> food/food-block devoured=true}}
        {{/if}}
        {{/each}}
      </span>
    </div>

  </div>



</div>

<div class="container">
  <ul class="nav justify-content-center">
    <li class="nav-item">
      <a class="nav-link active" href="#">Active</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">Link</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">Link</a>
    </li>
    <li class="nav-item">
      <a class="nav-link disabled" href="#">Disabled</a>
    </li>
  </ul>
</div>
